<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Reminder List</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a id="reminderlist" class="nav-item nav-link" href="/reminders">Reminder List</a>
      <a id="create" class="nav-item nav-link" href="/reminder/new">Create</a>
    </div>
  </div>
</nav>

<script>
  let url = window.location.href;
  url = url.substring(url.indexOf("3001")+4);
  console.log(url);
  //highlight the active page selection on the navbar
  if(url.includes("/reminder")){
    $("#reminderlist").addClass("active");
  //if the active page is not contained on the navbar options, then hide the navbar options
  }else{
    $("#reminderlist").addClass("invisible");
    $("#create").addClass("invisible");
  }
  
</script>